// Заголовки, общие БЄМ блоки и проче...
.page-home {

	// .page-home__main-fullscreen

	&__main-fullscreen {
	}

	// .page-home__animation-tours

	&__animation-tours {
		@media (min-width:em(540.02)) and (max-width:em(1980)){
			min-height: 100vh;
			.touch & {
				min-height: calc(var(--vh, 1vh) * 100);
				@media (max-width: $mobile) {
					transition: height 0.2s;
				}
			}
		}
		

	}

	&__architectural-banner {
		&:not(:last-child) {@include adaptiveValue("margin-bottom",90 ,40,1920,992,1 );}
		@media (max-width: $tabletBig){
			@include adaptiveValue("margin-top",90 ,40,1368,992,1 );
		}
	}

	// .page-home__advertise-banner

	&__advertise-banner {
	}
	// .page-home__card-links

	&__card-links {
	}

	// .page-home__message-banner

	&__message-banner {
	}

	// .page-home__want-know

	&__want-know {
	}

	// .page-home__our-clients

	&__our-clients {
	}
}



.common-button {
	font-weight: 600;
	line-height: math.div(17 ,14 );
	color: $white;
	padding: rem(22) rem(87);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: rem(1) solid $white;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease 0s;
	@media (max-width:$mobileSmall){
		display:flex;
	}
	span{
		transition: all 0.3s ease 0s;
	}
	&::before{
		content:'';
		position: absolute;
		top: 0;
		right: 0;
		width:rem(30);
		height: rem(30);
		background-color: #fff;
		transform:translate(50%, -50%) rotate(45deg);
		transition: all 0.3s ease 0s;
	}
	@media (min-width:$tabletBig){
		&:hover{
			text-decoration: underline;
			background-color: rgba(130, 130, 130, 0.527);
			span{
				transform:scale(1.2);
			}
			&::before{
				transform:translate(50%, -50%) rotate(45deg) scale(1.5);
				
			}
		}
	}
	&_black{
		color: $mainColor;
		border: rem(1) solid $mainColor;
		background-color: #fff;
		&::before{
			background-color: $mainColor;
		}
		@media (min-width:$tabletBig){
			&:hover{
				text-decoration: underline;
				box-shadow: 0 0 rem(10) $mainColor;
				background-color: $white;
				span{
					transform:scale(1.2);
				}
				&::before{
					transform:translate(50%, -50%) rotate(45deg) scale(1.5);
					
				}
			}
		}
	}
}