//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	transition: all 0.3s ease 0s ;

	z-index: 50;
	@include adaptiveValue("padding-top",50 ,15,1920,992,1 );
	@include adaptiveValue("padding-bottom",50 ,15,1920,992,1 );
	@media (max-width:$mobileSmall){
		padding-top: rem(50);
		padding-bottom: rem(50);
	}
	&._header-scroll {
		background-color: rgba(37, 37, 43, 0.97);
		padding-top: rem(10);
		padding-bottom: rem(10);

	}
	// .header__container-wide

	&__container-wide {
	}

	// .header__body

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:$mobile) and (orientation:portrait){
			justify-content: center;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 3;

	}

	// .header__menu

	&__menu {
	}
}
.menu {

	// .menu__body

	&__body {
		position: relative;
		@media (max-width:$mobile){
			position: fixed;
			padding-top: rem(120);
			padding-bottom: rem(60);
			width: 93%;
			height: calc(99% - rem(20)) ;
			top: 0;
			right: -100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: rem(20);
			transition: all 0.4s ease 0s;
			background-color: rgba(37, 37, 43, 0.98);
			box-shadow: 0px rem(0) rem(20) 0 rgba(0, 0, 0, 0.8);//
			@media (orientation:landscape){
				height: 100%;
				padding-top: rem(64);
				padding-bottom: rem(20);
				//top: rem(74);
				width: 100.5%;
			}
			.menu-open &{
				right: -0.5%;
			}
		}
	}


	// .menu__list

	&__list {
		display: flex;
		@include adaptiveValue("gap",56 ,24,1920,992,1 );
		@media (max-width:$mobile){
			flex-direction: column;
			overflow: auto;
			padding-top: rem(60);
			//padding-bottom: rem(100);
			width: 100%;
			align-items: center;
			gap:rem(35);
		}
		@media (orientation:landscape){
			padding-top: rem(0);
			
		}
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-weight: 600;
		line-height: math.div(17 ,14 );
		color: #FFFFFF;
		position: relative;
		transition: all 0.3s ease 0s;
		&::before{
			content:'';
			position: absolute;
			width: 0%;
			height: rem(2);
			bottom: 0;
			left: 0;
			background-color: #fff;
			transform: translate(0, rem(9));
			transition: all 0.3s ease 0s;
		}
		@media (min-width:$tabletBig){
			&:hover{
				&::before{
					content:'';
					width: 50%;
				}
			}
		}
		&._active{
			&::before{
				content:'';
				position: absolute;
				width: 50%;
				height: rem(2);
				bottom: 0;
				left: 0;
				background-color: #fff;
				transform: translate(0, rem(9));
				transition: all 0.3s ease 0s;
			}
		}
		@media (max-width:$mobile){
			font-size: rem(32);
		}
	}

	// .menu__icon

	&__icon {
		
	}
}
.icon-menu {
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: fixed;
		top: rem(23);
		right: rem(15);
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: rgb(156,156,156);
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

