//=====================================MAIN===============================================================

.main-fullscreen {
	background: rgba(37, 37, 43);
	position: relative;
	overflow: hidden;
	z-index: 2;
	@media (max-width: $tabletBig){
		display: flex;
		align-items: center;
	}


	display: flex;
	//flex-direction: column;
	align-items: center;
	height: 100%;
	@media (max-width: em(539.98)){
		align-items: stretch;
	}


// .main-fullscreen__container-wide

&__container-wide {
	display: flex;
	align-items: center;
	position: relative;
	gap:rem(188);
	@include adaptiveValue("gap",188 ,110,1920,768,1 );
	flex:1 1 auto;
	@media (max-width: em(539.98)){
		flex-direction: column-reverse;
		padding-top: rem(51);
		padding-bottom: rem(46);
		padding-left: rem(42);
		padding-right: rem(42);
		gap:rem(0);
	}
	@media (max-width:em(413.98)){
		padding-left: rem(15);
		padding-right: rem(15);
		
	}
	&::before{
		content:'';
		position: absolute;
		width: rem(670);
		height: rem(670);
		left: rem(140);
		top: rem(-300);
		border: rem(1) solid #353346;
		border-radius: rem(98);
		transform: rotate(30deg);
		animation: decorRotate 50s linear 3s infinite forwards;

	}
	&::after{
		content:'';
		position: absolute;
		width: rem(670);
		height: rem(670);
		left: rem(-540);
		top: rem(160);
		border: rem(1) solid #353346;
		border-radius: rem(98);
		transform: rotate(30deg);
		animation: decorRotate 50s linear 3s infinite forwards;
	}
	@keyframes decorRotate {
		0%{
			transform: rotate(30deg) scale(1);
		}
		50%{
			transform: rotate(210deg) scale(0.75) ;
		}
		100%{
			transform: rotate(390deg) scale(1);
		}
	}
}

	// .main-fullscreen__logo

	&__logo {
		@media (min-width:em(540.02)){
			display: none;
		}
		position: relative;
		z-index: 3;
	}
	// .main-fullscreen__icon-links

	&__icon-links {
		&_black{
			color:$mainColor;
			@media (min-width:$mobileSmall){
				display: none;
			}
		}
	position: relative;
	z-index: 2;
	display: flex;
	//flex-direction: column;
	gap:rem(24);
	@media (min-width: em(540)){
		flex-direction: column;
	}
	}

	// .main-fullscreen__icon-link

	&__icon-link {
		color:$white;
		transition: all 0.3s ease 0s;
		width: rem(24);
		height: rem(24);
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width:$tabletBig){
			&:hover{
				transform: scale(1.6)
			}
		}
		&_insta{
			font-size: rem(24);
		}
		&_vimeo{
			font-size: rem(20);
		}
		&_linkedin{
			font-size: rem(22);
		}
	}

// .main-fullscreen__body

&__body {
	@include adaptiveValue("padding-top",146 ,76,1920,992,1 );
	@include adaptiveValue("padding-bottom",146 ,76,1920,992,1 );
	position: relative;
	z-index: 2;
	@media (min-width:$mobileSmall){
		max-width:rem(440);
		
	}
	@media (max-width: em(414)){
		padding-top: 0;
		padding-bottom: 0;
		flex:1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

// .main-fullscreen__title

&__title {
	font-weight: 500;
	font-family: 'Playfair Display';
	@include adaptiveValue("font-size",82 ,50,1920,414,1 );
	line-height: 117%;
	color: $white;
	span{
		font-family: 'Kaine';
		font-weight: 900;
		@include adaptiveValue("font-size",60 ,46,1920,414,1 );
		line-height: 117%;
	}
	&:not(:last-child) {margin-bottom:rem(22);}
	
}

// .main-fullscreen__text

&__text {
	font-weight: 600;
	font-size: rem(18);
	line-height:170%;
	color: $text3;
	&:not(:last-child) {margin-bottom:rem(36);}
}

// .main-fullscreen__link-button

&__link-button {
}

// .main-fullscreen__image-ibg

&__image-ibg {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 74.74vw;
	z-index: 1;
	overflow: hidden;
	img{
		//animation: imageGrow 60s linear 0s infinite forwards;
	}
	@media (max-width:$mobile){
		width: 100%;
	}
	@media (max-width:$mobileSmall){
		img{
			width: 200%;
			transform: translate(-33%, 0);
			object-fit: cover;
			object-position: left;
		}
	}
	&::after{
		content:'';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(37, 37, 43, 0.35);
	}
	@media (max-width:$mobile){
		&::after{
			background: rgba(37, 37, 43, 0.68);
		}
	}
}
}

@keyframes imageGrow {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.3) ;
	}
	100%{
		transform: scale(1);
	}
}

//=======================================MAIN-SLIDER=============================================================
.main-slider {
	position: relative;
	margin-top: rem(77);
	margin-bottom: rem(90);
	@media (max-width:em(1440)){
	padding-bottom: rem(250);
	margin-bottom: rem(0);
	flex:1 1 auto;
	}
	@media (max-width:$tabletBig){
		padding-bottom: rem(0);
	}
	@media (max-width: em(540)){
		margin-top: rem(0);
	}
	// .main-slider__container-wide

	&__container-wide {
		display: flex;
		position: relative;
			min-height: rem(914);
			align-items: center;
		@media (max-width:em(1440)){
			//align-items: flex-start;
			min-height: 100%;
		}

		@media (max-width:$tabletBig){
			flex-direction: column;
			min-height: rem(0);
		}
////////
		@media (max-width:em(540)){
			min-height: 100vh;
			.touch & {
				min-height: calc(var(--vh, 1vh) * 100);
				@media (max-width: $mobile) {
					transition: height 0.2s;
				}
			}
			padding-left:rem(42);
			padding-right:rem(42);
		}
		@media (max-width: em(400)){
			padding-left:rem(15);
			padding-right:rem(15);
		}
//////////

		&::before{
			content:'';
			position: absolute;
			width: rem(670);
			height: rem(670);
			left: rem(320);
			top: rem(-100);
			border: rem(1) solid #E8E8E8;
			border-radius: rem(98);
			transform: rotate(30deg);
			animation: decorRotate 50s linear 3s infinite forwards;
	
		}
		&::after{
			content:'';
			position: absolute;
			width: rem(670);
			height: rem(670);
			left: rem(-350);
			top: rem(350);
			border: rem(1) solid #E8E8E8;
			border-radius: rem(98);
			transform: rotate(30deg);
			animation: decorRotateOpposite 50s linear 3s infinite forwards;
		}
	}
	@keyframes decorRotateOpposite {
		0%{
			transform: rotate(30deg) scale(1);

		}
		50%{
			transform: rotate(-150deg) scale(0.75) ;

		}
		100%{
			transform: rotate(-330deg) scale(1);

		}
	}
	// .main-slider__body

	&__body {
		@media (max-width: em(1440)){
			padding-top: rem(120);
		}
		@media (max-width:$tabletBig){
			padding-top: rem(0);
		}
		@media (min-width:$tabletBig){
		display: flex;
		align-items: center;
		flex:0 1 50%;
		}
		@media (max-width:em(540)){
			padding-top: rem(51);
			padding-bottom: rem(46);
			flex:1 1 auto;
			display: flex;
		}
		@media (max-width: em(400)){
			padding-top: rem(30);
			padding-bottom: rem(30);
		}
	}
	// .main-slider__content

	&__content {
		padding-top: rem(20);
		padding-bottom: rem(50);
		padding-right: rem(30);
		padding-left: rem(30);
		position: relative;
		z-index:3 ;
		@media (min-width:$tablet){
			@include adaptiveValue("padding-left",212 ,134,1920,768,1 );
			@include adaptiveValue("padding-right",75 ,34,1920,768,1 );
			padding-top: rem(50);
			padding-bottom: rem(50);
		}
		@media (max-width: em(680)){
			padding-bottom: rem(120);
		}
		@media (max-width:em(540)){
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		
	}

	// .main-slider__logo

	&__logo {
		@media (min-width:em(540.02)){
			display: none;

		}
		@media (max-width: em(540)){
			&:not(:last-child) {margin-bottom:rem(0);}
		}
		@media (max-width:$mobileSmall){
			&:not(:last-child) {margin-bottom:rem(93);}
		}
		
		align-self: center;
		@media (max-width: em(400)){
			&:not(:last-child) {margin-bottom:rem(0);}
		}
	}
	// .main-slider__titles

	&__titles {
		&:not(:last-child) {margin-bottom: rem(36);}
	}
	// .main-slider__text

	&__text {
		font-weight: 600;
		font-size: rem(20);
		line-height: math.div(24 ,20 );
		color:$text2;
		&:not(:last-child) {margin-bottom: rem(8);}
	}

	// .main-slider__title

	&__title {
		font-family: 'Playfair Display';
		font-weight: 600;
		@include adaptiveValue("font-size",42 ,36 );
		line-height: math.div(49 ,42 );
		&:not(:last-child) {margin-bottom: rem(36);}
	}

	// .main-slider__thumb-slider

	&__thumb-slider {
		
		//padding-bottom: 0 !important;
		@media (max-width: em(540)){
			&:not(:last-child) {margin-bottom:rem(0);}
		}
		@media (max-width:$mobileSmall){
			&:not(:last-child) {margin-bottom:rem(70);}
		}
		@media (max-width: em(400)){
			&:not(:last-child) {margin-bottom:rem(0);}
		}
	}

	// .main-slider__thumb-wrapper

	&__thumb-wrapper {

	}

	// .main-slider__thumb-slide

	&__thumb-slide {
		cursor: pointer;
		display: flex;
		align-items: center;
		min-height: rem(30);
		min-width: 100%;
		color: $text2;
		font-weight: 500;
		font-size: rem(20);
		line-height: math.div(50 ,20 );
		letter-spacing: 1.5%;
		position: relative;
		padding-left: rem(28);
		&::before{
			content:'';
			position: absolute;
			width: rem(7);
			height: rem(7);
			border-radius: 50%;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			background-color: $text2;
		}
		
	}
	.swiper-slide-thumb-active{
		font-weight: 700;
		color:$mainColor;
		&::before{
			background-color: $mainColor;
		}
	}
	// .main-slider__link-button

	&__link-button {
		position: relative;
		z-index: 5;
		@media (max-width: em(540)){
			&:not(:last-child) {margin-bottom:rem(0);}
		}
		@media (max-width:$mobileSmall){
			&:not(:last-child) {margin-bottom:rem(80);}
		}
		@media (max-width: em(400)){
			&:not(:last-child) {margin-bottom:rem(0);}
		}
	}

	// .main-slider__slider

	&__slider {
		
		position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 49.47916667vw;
			//width: 50vw;
			z-index: 1;
			@media (max-width: em(1440)){
				//display: flex;
				//align-items: center;
			}
		@media (max-width:$tabletBig){
			width: 100%;
			position: relative;
			display: block;
			align-items: flex-start;
		}
		@media (max-width: em(540)){
			min-height: 100vh;
			.touch & {
				min-height: calc(var(--vh, 1vh) * 100);
				@media (max-width: $mobile) {
					transition: height 0.2s;
				}
			}
		}
	}

	// .main-slider__wrapper

	&__wrapper {
		
	}

	// .main-slider__slide

	&__slide {
		position: relative;
	}

	// .main-slider__image-ibg

	&__image-ibg {
		min-height: rem(769);
		@media (max-width: em(1440)){
			padding-bottom: percent(900,950);
			min-height: rem(0);
		}
		@media (max-width:$tabletBig){
			padding-bottom: percent(600,950);
			min-height: rem(0);
		}
		@media (max-width:$mobile){
			padding-bottom: percent(769,950);
		}
		////
		img{
			filter: grayscale(1);
			transition: all 2s ease 0s;
		}
		@media (max-width: em(540)){
			min-height: 62vh;
		}
		@media (max-width:em(375)){
			min-height:50vh;
		}
	}

	// .main-slider__label-image-ibg
	&__label-image-ibg {
		position: absolute;
		width: 34%;
		min-width: rem(325);
		height: 41%;
		bottom: 0;
		right: rem(160);
		z-index: 2;
		transform: translate(0%,25%) scale(0);
		overflow: hidden;
		transition: all 2s ease 0s;
		&::before{
			content:'';
			position: absolute;width: 100%;height: 100%;top: 0;left: 0;
			background: rgba(0, 0, 0, 0.3);
			z-index: 3;
		}
		@media (max-width:$tabletBig){
			right: rem(15);
			transform: translate(0%,-50%) scale(0);
			top:0;
		}
		@media (max-width: em(540)){
		display: none;
		}
	}
	// .main-slider__label-text
	&__label-text {
		font-weight: 700;
		font-size: rem(18);
		line-height: math.div(22 ,18 );
		position: absolute;
		left: rem(46);
		bottom: rem(35);
		color: $white;
		z-index: 4;
	}



	// .main-slider__slider-text

	&__slider-text {
		@media (min-width:em(540.02)){
			display: none;
		}
	}

.slider-text {
		padding: rem(35);
		background-color: #fff;
		// .slider-text__title

		&__title {
			font-weight: 600;
			font-family: 'Playfair Display';
			font-size: rem(32);
			line-height: math.div(38 ,32 );
			&:not(:last-child) {margin-bottom: rem(8);}
		}

		// .slider-text__text

		&__text {
			line-height: math.div(23 ,14 );
			line-height: 23px;
			color: #707078;
		}
}



	// .main-slider__navigation

	&__navigation {
		display: flex;
		gap:rem(10);
		align-items: center;
		justify-content: center;
		width: rem(110);
		height: rem(90);
		background-color: $white;
		position: absolute;
		top:rem(679);
		left: 0;
		box-shadow: none;
		transform: translate(0, 0%);
		z-index: 1;
		@media (max-width:em(1440)){
		//box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.3);
		position: absolute;
		//transform: translate(0, -100%);
		top:rem(584);
		}
		@media (max-width:$tabletBig){
			top:100%;
			transform: translate(-100%, -100%);
			left: 100%;
			height: rem(50);
		}
		@media (max-width:em(540)){
			top:62vh;
			transform: translate(0%, -100%);
			left: 0%;
			
		}
		@media (max-width:em(375)){
			top:50vh;

			
		}

		@media (max-width:$mobileSmall){
		width: 100%;
		justify-content: space-between;
		background-color: rgba(255, 255, 255, 0.209);
		}
	}

	// .main-slider__swiper-button-prev

	&__swiper-button-prev {
		width: rem(90);
		height: 100%;
		flex:0 0 rem(50);
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width:$mobileSmall){
			background-color: #fff;
			justify-content: center;
		}
	}

	// .main-slider__swiper-button-next

	&__swiper-button-next {
		width: rem(90);
		height: 100%;
		flex:0 0 rem(50);
		display: flex;
		justify-content: flex-start;
		align-items: center;
		@media (max-width:$mobileSmall){
			background-color: #fff;
			justify-content: center;
		}
	}
	.swiper-slide-duplicate-active,
	.swiper-slide-active,
	//.swiper-slide-duplicate,
	//.swiper-slide-duplicate-prev,
	//.swiper-slide-prev,
	//.swiper-slide-duplicate-next,
	//.swiper-slide-duplicate-active
	{
		.main-slider__label-image-ibg{
			transform: translate(0%, 50%) scale(1); 
			@media (max-width:$tabletBig){
				top:0;
				transform: translate(0%, -50%) scale(1);
				box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.6);
			}
		}
		.main-slider__image-ibg{
			img{
				filter: grayscale(0);
			}
		}
	}


	//.swiper-slide-active,
	//.swiper-slide-duplicate,
	.swiper-slide-duplicate-prev,
	.swiper-slide-prev,
	.swiper-slide-duplicate-next,
	//.swiper-slide-duplicate-active
	{
		.main-slider__label-image-ibg{
			transform: translate(0%, 25%) scale(0) ;
			@media (max-width:$tabletBig){
				top:0;
				transform: translate(0%, -50%) scale(0);
			}
		}
		.main-slider__image-ibg{
			img{
				filter: grayscale(1);
			}
		}
	}

	// .main-slider__icon-links

	&__icon-links {
		@media (min-width:em(540.02)){
				display: none;
			}
			align-self: center;
		position: relative;
		z-index: 2;
		display: flex;
		//flex-direction: column;
		gap:rem(24);
		@media (min-width: em(540.02)){
			flex-direction: column;
		}
	}

	// .main-slider__icon-link

	&__icon-link {
		transition: all 0.3s ease 0s;
		width: rem(24);
		height: rem(24);
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width:$tabletBig){
			&:hover{
				transform: scale(1.6)
			}
		}
		&_insta{
			font-size: rem(24);
		}
		&_vimeo{
			font-size: rem(20);
		}
		&_linkedin{
			font-size: rem(22);
		}
	}
}


//______________________________________ARCHITECTURAL-BANNER___________________________________________________

.architectural-banner {
	position: relative;
	//z-index: 3;
	@include adaptiveValue("padding-top",67 ,40,1920,992,1 );
	@include adaptiveValue("padding-bottom",67 ,40,1920,992,1 );
	//background-color: #fff;
	&::before{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: rem(1);
		background-color: $mainColor;
		opacity: 0.5;
	}
	&::after{
		content:'';
		position: absolute;
		bottom: 0;
		right: 0;
		width: 68.5%;
		height: rem(1);
		background-color: $mainColor;
		opacity: 0.5;
	}
	&__container{
		display: flex;
		flex-direction: column;
		gap:rem(40);
	}
	&__title {
		align-self: flex-start;
		font-family: 'Kaine';
		font-weight: 900;
		font-size: rem(72);
		@include adaptiveValue("font-size",72 ,48,1920,992,1 );
		line-height: math.div(83 ,72 );
		color: $mainColor;
		max-width: rem(887);
		opacity: 0.3;
	}

	&__text {
		align-self: flex-end;
		font-size: rem(18);
		line-height: math.div(22 , 18);
		max-width: rem(480);
		color: $mainColor;
		opacity: 0.7;
		p{&:not(:last-child) {margin-bottom: rem(20);}}
	}
}


//______________________________________ADVERTISE-BANNER___________________________________________________


.advertise-banner {
	position: relative;
	min-height: rem(486);
	padding-top: rem(155);
	padding-bottom: rem(155) ;
	display: flex;
	align-items: center;
	@media (max-width:$tablet) and (orientation:portrait){
		padding-top: rem(0);
		padding-bottom: rem(0) ;
		min-height: 100vh;
		align-items: stretch;
	}


	// .advertise-banner__background

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		display: flex;
		@media (max-width:$tablet) and (orientation:portrait) {
			flex-direction: column;
			display: none;
		}
	}

	// .advertise-banner__black

	&__black {
		width:50vw;
		background-color: rgb(37, 37, 43, 0.97);
		@media (max-width:$tablet) and (orientation:portrait){
			
			width:100vw;
			min-height: 57vh;
		}
		position: relative;
		z-index: 2;
	}

	// .advertise-banner__white

	&__white {
		width:50vw;
		background-color: #fff;
		//overflow: hidden;
		@media (max-width:$tablet) and (orientation:portrait){
			width:100vw;
			min-height: 43vh;
		}
		position: relative;
		&::before{
			content:'';
			position: absolute;
			width: rem(670);
			height: rem(670);
			left: rem(670);
			top: rem(-280);
			border: rem(1) solid #E8E8E8;
			border-radius: rem(98);
			transform: rotate(30deg);
			animation: decorRotate 90s linear 3s infinite forwards;
		}
		&::after{
			content:'';
			position: absolute;
			width: rem(670);
			height: rem(670);
			left: rem(20);
			top: rem(180);
			border: rem(1) solid #E8E8E8;
			border-radius: rem(98);
			transform: rotate(30deg);
			animation: decorRotateOpposite 90s linear 3s infinite forwards;
		}
	}

	// .advertise-banner__container

	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		align-items: center;
		position: relative;
		z-index: 2;
		@media (max-width:$tablet) and (orientation:portrait){
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: auto auto;
			padding-left: rem(0);
			padding-right: rem(0);
			width: 100%;
		}
	}

	// .advertise-banner__content

	&__content {
		@media (max-width:$tablet) and (orientation:landscape){
			padding-right: rem(20);

		}
		
		@media (min-width:$tablet){
			@include adaptiveValue("padding-right",90 ,20,1920,992,1 );
		}
		
	}

	// .advertise-banner__form

	&__form {
		@media (max-width:$tablet) and (orientation:landscape){
			padding-left: rem(20);

		}
		@media (min-width:$tablet){
			@include adaptiveValue("padding-left",110 ,20,1920,992,1 );
			padding-right: rem(20);
		}
	}
}

.content-banner {
	@media (max-width:$tablet) and (orientation:portrait){
		padding-top: rem(50);
		padding-bottom: rem(50);
		background-color: rgb(37, 37, 43, 0.97);
		height: 100%;
		padding-left: rem(35);
		padding-right: rem(35);
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: em(375)){
		padding-top: rem(20);
		padding-bottom: rem(20);
	}

	// .content-banner__body

	&__body {
		@media (max-width:em(540)){
			display: flex;
			flex-direction: column;
		}
	}

	// .content-banner__logo

	&__logo {
		text-align: center;
		&:not(:last-child) {margin-bottom: rem(0);}
		flex: 0 1 rem(106);
		@media (max-width: em(375)){
			flex: 0 1 rem(60);
		}
		@media (min-width:em(540)){
			display: none;
		}
	}
	// .content-banner__title

	&__title {
		font-weight: 600;
		font-size: rem(20);
		line-height: 146.5%;
		color:$text2;
		&:not(:last-child) {margin-bottom:rem(3);}
		@media (max-width:$tablet){
			&:not(:last-child) {margin-bottom:rem(17);}
		}
	}

	// .content-banner__subtitle

	&__subtitle {
		font-family: 'Playfair Display';
		font-weight: 600;
		font-size: rem(42);
		line-height: math.div(51 ,42 );
		color: #fff;
		span{
			font-family: 'Kaine';
		}
		&:not(:last-child) {margin-bottom: rem(17);}
		@media (max-width:$tablet){
			&:not(:last-child) {margin-bottom:rem(22);}
		}
	}

	// .content-banner__text

	&__text {
		color: #fff;
		font-size: rem(16);
		line-height: math.div(23 ,16 );
	}
}


.form-banner {
	@media (max-width:$tablet){
		padding-top: rem(50);
		padding-bottom: rem(50);
		background-color: #fff;
		height: 100%;
		padding-left: rem(35);
		padding-right: rem(35);
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	@media (max-width: em(375)){
		padding-top: rem(20);
		padding-bottom: rem(20);
	}
	// .form-banner__form

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		@media (max-width:$mobileSmall){
			justify-content: flex-start;
		}
	}

	// .form-banner__wrapper
	&__wrapper {
		&:not(:last-child) {margin-bottom: rem(27);}
		@media (max-width: em(375)){
			&:not(:last-child) {margin-bottom: rem(12);}
		}
	}
	// .form-banner__line

	&__line {
		position: relative;
		z-index: 1;
		display: flex;
		gap:rem(15);
		height: rem(34);
		border-bottom:rem(1) solid #afafaf ;
		&:not(:last-child) {margin-bottom: rem(52);}
		@media (max-width: em(375)){
			&:not(:last-child) {margin-bottom: rem(22);}
		}
	}

	// .form-banner__label

	&__label {
		flex: 0 1 auto;
		font-size: rem(16);
		line-height: math.div(20 ,16 );
	}


	// .form-banner__input

	&__input {
		flex: 1 1 auto;
		transition: all 0.3s ease 0s;
		padding: rem(5) rem(15);
		opacity: 0;
		&._form-focus {
			background-color: rgba(37, 37, 43, 0.1);
			outline: none;
			border-left:rem(1) solid #afafaf ;
			opacity: 1;
		}
	}

	// .form-banner__button

	&__button {
		position: relative;
		z-index: 4;
		@media (max-width:$tablet){
			width: 100%;
		}
	}




	// .form-banner__icon-links

	&__icon-links {
		@media (min-width:em(540)){
				display: none;
			}
			align-self: center;
		position: relative;
		z-index: 2;
		display: flex;
		//flex-direction: column;
		gap:rem(24);
		@media (min-width: em(540.02)){
			flex-direction: column;
		}
	}

	// .main-slider__icon-link

	&__icon-link {
		transition: all 0.3s ease 0s;
		width: rem(24);
		height: rem(24);
		display: flex;
		align-items: center;
		justify-content: center;
		@media (min-width:$tabletBig){
			&:hover{
				transform: scale(1.6)
			}
		}
		&_insta{
			font-size: rem(24);
		}
		&_vimeo{
			font-size: rem(20);
		}
		&_linkedin{
			font-size: rem(22);
		}
	}







.form__error{
	color:red;
	position: absolute;
	top: 0;
	right: 0;
}
}

//______________________________________CARD_LINKS___________________________________________________________

.card-links {
	position: relative;
	z-index: 2;
	// .card-links__logo

	&__logo {
		position: absolute;
		left: 50%;
		top: rem(50);
		transform: translate(-50%, 0);
		z-index: 3;
		@media (min-width:$mobileSmall){
			display: none;
		}
	}
	// .card-links__cards

	&__cards {
	display: grid;
	grid-template-columns: repeat(4,minmax(rem(480), 1fr));
	overflow: auto;
	@media (max-width: em(1440)){
		grid-template-columns: repeat(4,minmax(30vw, 1fr));
	}
	@media (max-width: $pc) and (orientation:portrait){
		grid-template-columns: repeat(4,minmax(40vw, 1fr));
	}
	@media (max-width: rem(1024)) and (orientation:portrait){
		grid-template-columns: repeat(4,minmax(60vw, 1fr));
	}
	//@media (max-width: $tablet) and (orientation:portrait){
	//	grid-template-columns: repeat(4,minmax(60vw, 1fr));
	//}
	@media (max-width:$mobileSmall) and (orientation:portrait){
		grid-template-columns: repeat(4,minmax(80vw, 1fr));
	}
	@media (max-width:rem(920)) and (orientation:landscape){
		grid-template-columns: repeat(4,minmax(30vw, 1fr));
	}
	}

	// .card-links__card

	&__card {
	}
}

.card-link {
	
	position: relative;
	transition: all 0.3s ease 0s;
	&::before{
		transition: all 0.3s ease 0s;
		position: absolute;
		bottom:9.05%;
		right: 10.2%;
		color:#fff;
		z-index: 13;
		width: rem(38);
		height: rem(38);
		font-size: rem(21);
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transform: translate(-200%, 0);
	}
	@media (min-width:$tabletBig){
		&:hover{
			&::before{
				opacity: 1;
				transform: translate(0%, 0);
			}
			.card-link__image-ibg::before{
					background-color: rgba(37, 37, 43, 0.8);
					pointer-events: none;
				}
				.card-link__image-ibg::after{
					opacity: 1;
					pointer-events: none;
				}
				
		}
	}


	// .card-link__image-ibg
	&__image-ibg {
		padding-bottom: percent(480,480);
		@media (max-width: em(1980)){
			min-height: 100vh;
			padding-bottom: percent(862,480);
		}
		@media (orientetion:landscape) and (max-width:920){
			max-height: 100vh;
			padding-bottom: percent(480,480);
		}
		
		overflow: hidden;
		transition: all 0.3s ease 0s;
		&::before{
			content:'';
			transition: all 0.3s ease 0s;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(37, 37, 43, 0.4);
			z-index: 2;

		}
		&::after{
			content:'';
			transition: all 0.3s ease 0s;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 88.333333%;
			height: 92.575406%;
			border: 1px solid rgba(211, 211, 211, 0.8);
			z-index: 3;
			opacity: 0;
		}
		//@media (min-width:$tabletBig){
		//	&:hover{
		//		&::before{
		//			background-color: rgba(37, 37, 43, 0.8);
		//			pointer-events: none;
		//		}
		//		&::after{
		//			opacity: 1;
		//			pointer-events: none;
		//		}
		//	}
		//}
	}

	// .card-link__title

	&__title {
		position: absolute;
		bottom:9.05%;
		left:13.3333333%;
		font-weight: 700;
		font-size: rem(16);
		line-height: math.div(20 ,16 );
		letter-spacing: 0.125em;
		color: #FFFFFF;
		z-index: 3;
		writing-mode:vertical-rl;
		transform: rotate(180deg);
		max-height: rem(300);
	}
}
